In [8]:
import pandas as pd
dt=pd.read_csv(r"C:\Users\91997\Desktop\new\ML-Dataset.csv")

In [9]:
dt

,RegionName,CountryName,State,City,PostalCode,WarehouseAddress,WarehouseName,EmployeeName,EmployeeEmail,EmployeePhone,...,CustomerName,CustomerAddress,CustomerCreditLimit,CustomerEmail,CustomerPhone,Status,OrderDate,OrderItemQuantity,PerUnitPrice,TotalItemQuantity
0,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Summer Payne,summer.payne@example.com,5151238181,...,Flor Stone,2904 S Salina St,5000,flor.stone@raytheon.com,13171234104,Shipped,17-Nov-16,132,469.99,122
1,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Rose Stephens,rose.stephens@example.com,5151238080,...,Lavera Emerson,"5344 Haverford Ave, Philadelphia",5000,lavera.emerson@plainsallamerican.com,13171234111,Shipped,20-Feb-17,124,519.99,123
2,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Annabelle Dunn,annabelle.dunn@example.com,5151234444,...,Fern Head,"1795 Wu Meng, Muang Chonburi",1200,fern.head@usfoods.com,18121234115,Canceled,03-Jan-17,92,800.74,123
3,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Tommy Bailey,tommy.bailey@example.com,5151234567,...,Shyla Ortiz,"Walpurgisstr 69, Munich",2400,shyla.ortiz@abbvie.com,13171234126,Pending,15-Oct-17,128,849.99,124
4,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Blake Cooper,blake.cooper@example.com,5151234569,...,Jeni Levy,"Via Frenzy 6903, Roma",1200,jeni.levy@centene.com,18121214129,Shipped,09-Apr-17,106,109.99,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Veera Abdellah,VeeraAbdellah@gmail.com,8788092231,...,Vega Vincent,4284 Dorigo Ln,4900,VegaVincent@gmail.com,787879874,Shipped,27-Sep-17,32,725.99,107
396,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Vega Vincent,VegaVincent@gmail.com,6700989921,...,Villanueva Noah,6794 Lake Dr E,5000,VillanuevaNoah@gmail.com,785811219,Pending,16-Aug-16,66,798.26,118
397,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Villanueva Noah,VillanuevaNoah@gmail.com,7890991231,...,Voldemort Lord,31 Douglas Blvd #950,4000,VoldemortLord@gmail.com,789243757,Canceled,27-May-16,82,849.99,118
398,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Zima Colleen,ZimaColleen@gmail.com,8690991436,...,Lucy Cechtelar,44 W 4th St,3000,LucyCechtelar@gmail.com,964940981,Shipped,27-May-17,157,821.99,95
399,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Volk Colleen,VolkCollen@gmail.com,9426826971,...,John Snow,11279 Loytan St,2000,JohnSnow@gmail.com,567897474,Canceled,27-May-17,32,579.59,92

In [10]:
dt.columns

Index(['RegionName', 'CountryName', 'State', 'City', 'PostalCode',
       'WarehouseAddress', 'WarehouseName', 'EmployeeName', 'EmployeeEmail',
       'EmployeePhone', 'EmployeeHireDate', 'EmployeeJobTitle', 'CategoryName',
       'ProductName', 'ProductDescription', 'ProductStandardCost', 'Profit',
       'ProductListPrice', 'CustomerName', 'CustomerAddress',
       'CustomerCreditLimit', 'CustomerEmail', 'CustomerPhone', 'Status',
       'OrderDate', 'OrderItemQuantity', 'PerUnitPrice', 'TotalItemQuantity'],
      dtype='object')

In [11]:
dt.dtypes

RegionName              object
CountryName             object
State                   object
City                    object
PostalCode              object
WarehouseAddress        object
WarehouseName           object
EmployeeName            object
EmployeeEmail           object
EmployeePhone            int64
EmployeeHireDate        object
EmployeeJobTitle        object
CategoryName            object
ProductName             object
ProductDescription      object
ProductStandardCost    float64
Profit                 float64
ProductListPrice       float64
CustomerName            object
CustomerAddress         object
CustomerCreditLimit      int64
CustomerEmail           object
CustomerPhone            int64
Status                  object
OrderDate               object
OrderItemQuantity        int64
PerUnitPrice           float64
TotalItemQuantity        int64
dtype: object

In [12]:
dt.shape

(400, 28)

In [13]:
dt.describe()

,EmployeePhone,ProductStandardCost,Profit,ProductListPrice,CustomerCreditLimit,CustomerPhone,OrderItemQuantity,PerUnitPrice,TotalItemQuantity
count,4.000000e+02,400.000000,400.000000,400.000000,400.000000,4.000000e+02,400.000000,400.000000,400.000000
mean,1.300551e+12,1812.654525,189.743700,2002.398800,2033.617500,6.422348e+10,89.240000,839.253100,123.695000
std,3.546655e+12,4297.988742,254.318871,4432.591249,1534.488065,1.871854e+11,34.064253,706.449917,67.438876
min,1.856490e+07,12.630000,0.000000,15.550000,100.000000,4.538500e+04,32.000000,16.990000,0.000000
25%,9.716165e+08,414.160000,59.972500,502.982500,700.000000,3.545837e+09,61.000000,352.982500,92.750000
50%,1.168870e+10,698.320000,134.200000,849.990000,1500.000000,9.800588e+09,85.500000,686.990000,123.000000
75%,2.651186e+10,1671.950000,229.520000,1999.890000,3500.000000,1.812122e+10,118.000000,1055.990000,178.000000
max,1.144164e+13,75410.000000,2770.000000,78180.000000,5000.000000,9.138593e+11,157.000000,4139.000000,353.000000

In [14]:
dt.Profit.mean()

189.74370000000002

In [15]:
print(dt.head(3))

      RegionName               CountryName  State       City PostalCode  \
0  South America  United States of America  Texas  Southlake      26192
1  South America  United States of America  Texas  Southlake      26192
2  South America  United States of America  Texas  Southlake      26192

      WarehouseAddress    WarehouseName    EmployeeName  \
0  2014 Jabberwocky Rd  Southlake Texas    Summer Payne
1  2014 Jabberwocky Rd  Southlake Texas   Rose Stephens
2  2014 Jabberwocky Rd  Southlake Texas  Annabelle Dunn

                EmployeeEmail  EmployeePhone  ...    CustomerName  \
0    summer.payne@example.com     5151238181  ...      Flor Stone
1   rose.stephens@example.com     5151238080  ...  Lavera Emerson
2  annabelle.dunn@example.com     5151234444  ...       Fern Head

                    CustomerAddress CustomerCreditLimit  \
0                  2904 S Salina St                5000
1  5344 Haverford Ave, Philadelphia                5000
2      1795 Wu Meng, Muang Chonburi                1200

                          CustomerEmail CustomerPhone    Status  OrderDate  \
0               flor.stone@raytheon.com   13171234104   Shipped  17-Nov-16
1  lavera.emerson@plainsallamerican.com   13171234111   Shipped  20-Feb-17
2                 fern.head@usfoods.com   18121234115  Canceled  03-Jan-17

   OrderItemQuantity PerUnitPrice TotalItemQuantity
0                132       469.99               122
1                124       519.99               123
2                 92       800.74               123

[3 rows x 28 columns]

In [16]:
row_2 = dt.iloc[1] 
print(row_2)

RegionName                                    South America
CountryName                        United States of America
State                                                 Texas
City                                              Southlake
PostalCode                                            26192
WarehouseAddress                        2014 Jabberwocky Rd
WarehouseName                               Southlake Texas
EmployeeName                                  Rose Stephens
EmployeeEmail                     rose.stephens@example.com
EmployeePhone                                    5151238080
EmployeeHireDate                                  07-Jun-16
EmployeeJobTitle                         Accounting Manager
CategoryName                                            CPU
ProductName                           Intel Xeon E5-2697 V3
ProductDescription                    Speed:2.6GHz,Cores:14
ProductStandardCost                                 2326.27
Profit                                               448.71
ProductListPrice                                    2774.98
CustomerName                                 Lavera Emerson
CustomerAddress            5344 Haverford Ave, Philadelphia
CustomerCreditLimit                                    5000
CustomerEmail          lavera.emerson@plainsallamerican.com
CustomerPhone                                   13171234111
Status                                              Shipped
OrderDate                                         20-Feb-17
OrderItemQuantity                                       124
PerUnitPrice                                         519.99
TotalItemQuantity                                       123
Name: 1, dtype: object

In [17]:
dt = dt.drop(columns=['City'])
print(dt)

        RegionName               CountryName        State PostalCode  \
0    South America  United States of America        Texas      26192
1    South America  United States of America        Texas      26192
2    South America  United States of America        Texas      26192
3    South America  United States of America        Texas      26192
4    South America  United States of America        Texas      26192
..             ...                       ...          ...        ...
395           Asia                     India  Maharashtra     490231
396           Asia                     India  Maharashtra     490231
397           Asia                     India  Maharashtra     490231
398           Asia                     India  Maharashtra     490231
399           Asia                     India  Maharashtra     490231

        WarehouseAddress    WarehouseName     EmployeeName  \
0    2014 Jabberwocky Rd  Southlake Texas     Summer Payne
1    2014 Jabberwocky Rd  Southlake Texas    Rose Stephens
2    2014 Jabberwocky Rd  Southlake Texas   Annabelle Dunn
3    2014 Jabberwocky Rd  Southlake Texas     Tommy Bailey
4    2014 Jabberwocky Rd  Southlake Texas     Blake Cooper
..                   ...              ...              ...
395   1298 Vileparle (E)           Bombay   Veera Abdellah
396   1298 Vileparle (E)           Bombay     Vega Vincent
397   1298 Vileparle (E)           Bombay  Villanueva Noah
398   1298 Vileparle (E)           Bombay     Zima Colleen
399   1298 Vileparle (E)           Bombay     Volk Colleen

                  EmployeeEmail  EmployeePhone EmployeeHireDate  ...  \
0      summer.payne@example.com     5151238181        07-Jun-16  ...
1     rose.stephens@example.com     5151238080        07-Jun-16  ...
2    annabelle.dunn@example.com     5151234444        17-Sep-16  ...
3      tommy.bailey@example.com     5151234567        17-Jun-16  ...
4      blake.cooper@example.com     5151234569        13-Jan-16  ...
..                          ...            ...              ...  ...
395     VeeraAbdellah@gmail.com     8788092231        13-Aug-12  ...
396       VegaVincent@gmail.com     6700989921        01-Aug-11  ...
397    VillanuevaNoah@gmail.com     7890991231        11-Sep-08  ...
398       ZimaColleen@gmail.com     8690991436        02-Feb-10  ...
399        VolkCollen@gmail.com     9426826971        15-May-00  ...

        CustomerName                   CustomerAddress CustomerCreditLimit  \
0         Flor Stone                  2904 S Salina St                5000
1     Lavera Emerson  5344 Haverford Ave, Philadelphia                5000
2          Fern Head      1795 Wu Meng, Muang Chonburi                1200
3        Shyla Ortiz           Walpurgisstr 69, Munich                2400
4          Jeni Levy             Via Frenzy 6903, Roma                1200
..               ...                               ...                 ...
395     Vega Vincent                    4284 Dorigo Ln                4900
396  Villanueva Noah                    6794 Lake Dr E                5000
397   Voldemort Lord              31 Douglas Blvd #950                4000
398   Lucy Cechtelar                       44 W 4th St                3000
399        John Snow                   11279 Loytan St                2000

                            CustomerEmail  CustomerPhone    Status  OrderDate  \
0                 flor.stone@raytheon.com    13171234104   Shipped  17-Nov-16
1    lavera.emerson@plainsallamerican.com    13171234111   Shipped  20-Feb-17
2                   fern.head@usfoods.com    18121234115  Canceled  03-Jan-17
3                  shyla.ortiz@abbvie.com    13171234126   Pending  15-Oct-17
4                   jeni.levy@centene.com    18121214129   Shipped  09-Apr-17
..                                    ...            ...       ...        ...
395                 VegaVincent@gmail.com      787879874   Shipped  27-Sep-17
396              VillanuevaNoah@gmail.com      785811219   Pending  16-Aug-16
397               VoldemortLord@gmail.com      789243757  Canceled  27-May-16
398               LucyCechtelar@gmail.com      964940981   Shipped  27-May-17
399                    JohnSnow@gmail.com      567897474  Canceled  27-May-17

    OrderItemQuantity PerUnitPrice  TotalItemQuantity
0                 132       469.99                122
1                 124       519.99                123
2                  92       800.74                123
3                 128       849.99                124
4                 106       109.99                125
..                ...          ...                ...
395                32       725.99                107
396                66       798.26                118
397                82       849.99                118
398               157       821.99                 95
399                32       579.59                 92

[400 rows x 27 columns]